<!-- 1. Use attribute -->
<p [attr.value]="'test'">Hieu Bui test!</p>
<table>
  <tr>
    <th [attr.colspan]="1 + 1">Heading 1</th>
    <th [attr.colSpan]="1 + 1">Heading 1</th>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>America</td>
    <td>UK</td>
    <td>Finland</td>
  </tr>
</table>



<!-- 2. Use class -->
<p [class]="'class-one class-two'">My test [class]</p>

<p [class]="['class-one', 'class-two']">My test array class</p>

<div [class.testClass]="enableCls" >
  <h2>Test class 1</h2>
</div>

<div [class]="{
  'classOne': true,
  'classTrue' : true
}" >
  <h2>Test class 2</h2>
</div>



<!-- 3. Use style -->
<div [style.background-color]="'red'">
  <h2>Test style 1</h2>
</div>

<div [style]="style1">Style with string</div>

<div [style]="{
  'background-color': '#000',
  'color': 'red',
  'width': '150px',
  'height': '100px'
}">
  <h2>Test style 2</h2>
</div>
