<h2>Learn form-validation works!</h2>

<!-- 1. Validation form template-driven form -->
<!-- <form>
  <input
    type="text"
    required
    name="name"
    minlength="4"
    [(ngModel)]="nameInp"
    #name="ngModel"
  />
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <div *ngIf="name.errors?.['required']">Name is required</div>
    <div *ngIf="name.errors?.['minlength']">
      Name must be at least 4 characters long.
    </div>
  </div>
</form> -->
<hr>


<!-- 2. Validation form template-driven form -->
<form [formGroup]="validationForm">
  <input
    type="text"
    required
    name="name"
    minlength="4"
    formControlName="name"
  />

  <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
    <div *ngIf="name?.errors?.['required']">Name is required</div>
    <div *ngIf="name?.errors?.['minlength']">
      Name must be at least 4 characters long.
    </div>
  </div>

</form>
