<!-- First app -->
<!-- <app-hello-world></app-hello-world> -->

<!-- **************************** -->

<!-- Text interpolation -->
<!-- <p> Plus is = {{ 1 + 1 }} </p>
<p> Mul is = {{ 1 * 10 }} </p>
<p> The add function = {{ Add(10, 100) }} </p> -->

<!-- **************************** -->

<!-- 1. Communication between different component -->
<!-- <app-parent-com></app-parent-com> -->



<!-- 2. Set style -->
<!-- <div class="wrap-content">
  <app-set-style class="my-custom1"></app-set-style>
</div> -->




<!-- 3. Ng-content -->
<!-- <app-learn-ng-content>
  <h2>Hello from root!</h2>
  <div question>
    <p>What do you do?</p>
    <ul>
      <li>What the movie?</li>
      <li>Coding?</li>
      <li>Take of coffee with friends?</li>
    </ul>
  </div>
  <p answer>I'm learn Angular!</p>
</app-learn-ng-content> -->




<!-- 4. Template statement -->
<!-- <app-template-statement></app-template-statement> -->




<!-- 5. Pipes -->
<!-- <app-use-pipes></app-use-pipes> -->




<!-- 6. Property binding -->
<!-- <app-property-binding></app-property-binding> -->




<!-- 7. Attribute, class & style -->
<!-- <app-attr-class-style></app-attr-class-style> -->




<!-- 8. Event binding -->
<!-- <app-event-binding></app-event-binding> -->




<!-- 9. Two way binding -->
<app-two-way-binding></app-two-way-binding>
