<h2>My-learn-form works!</h2>

<hr>

<!-- Template driven form -->
<h3>Template driven</h3>
<div [hidden]="submitted">
  <!-- <div>{{ petModel | json }}</div> -->
  <form #petForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="id" hidden>Id</label>
    </div>
    <div>
      <label for="name">Name:
        <input type="text" id="name" required [(ngModel)]="petModel.name" name="name">
      </label>
    </div>
    <div>
      <label for="specie">Specie:
        <select name="specie" id="specie" [(ngModel)]="petModel.specie" required>
          <option *ngFor="let specie of species;" [value]="specie">{{ specie }}</option>
        </select>
      </label>
    </div>
    <button type="submit" [disabled]="!petForm.form.valid">Send request</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>Your submit</h2>
  <p>Id: {{ petModel.id }}</p>
  <p>Name: {{ petModel.name }}</p>
  <p>Specie: {{ petModel.specie }}</p>
  <button type="button" (click)="onSubmit()">Edit</button>
</div>
<!-- End - Template driven form -->

<hr>

<!-- Reactive form -->
<h3>Reactive form</h3>

<label for="name">Name:</label>
<input type="text" id="name" [formControl]="name">
<p>Value: {{name.value}} </p>
<div>
  <button type="button" (click)="updateName()">Click here</button>
</div>

<hr>

<form [formGroup]="profileForm" (ngSubmit)="onSubmitReactiveForm()">
  <label for="first-name">First name: </label>
  <input type="text" id="first-name" formControlName="firstName" required>
  <br>
  <label for="last-name">Last name: </label>
  <input type="text" id="last-name" formControlName="lastName" required>
  <div>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>
</form>

<!-- End - Reactive form -->
